<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:fragment="header-css">
	<link
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		rel="stylesheet" id="bootstrap-css">
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</div>
</head>
<body>
	<div th:fragment="header">
		<!-- this is header -->
		
		<nav class="navbar navbar-inverse">
			<div class="container" style=" background-color: lightblue;">
				<div class="navbar-header">
					<img src="https://cdn.techinasia.com/data/images/mcDNlYE362CQuHxGE2sXmfOCt8VwcsdHRtZgo8JJ.png" width = 10% height = 10%>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a th:href="@{/}">Home</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

</body>
</html>